@model string[,];
@{
    ViewData["Title"] = "Paginas para inspirar";
}

<div class="text-center">
    <h1>Paginas para inspirar</h1>
    <partial name="inconstruction" />
    <p>
        have a random bird pic instead
    </p>
    <img class="haveImg" src=@ViewBag.bird alt="">

    <p>
        courtesy of <a href="http://shibe.online" target="_blank">http://shibe.online</a>
    </p>
    <p>
        link to this bird pic: @ViewBag.bird
    </p>
</div>
<p>
    or check the development so far
</p>
<div class="card-container">
    @* GetLength(0) gives the lenght of the array on the first dimension *@
    @for (int i = 0; i < Model.GetLength(0); i++)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-header">@Model[i,0]</div>
            <div class="card-body">
                
                <p class="card-text">@Model[i,1]</p>
                <a href="@Model[i,2]" class="card-link" target="_blank">@Model[i,3]</a>
            </div>
        </div>
    }

</div>
