@model CarlosMora.Models.InspirationsList
@{
    ViewData["Title"] = "Paginas para inspirar";
}

<div class="text-center">
    <h1>Paginas para inspirar</h1>
    <partial name="inconstruction" />
    <p>
        have a random bird pic instead
    </p>
    <img class="haveImg" src=@ViewBag.bird alt="">

    <p>
        courtesy of <a href="http://shibe.online" target="_blank">http://shibe.online</a>
    </p>
    <p>
        link to this bird pic: @ViewBag.bird
    </p>
</div>
<p>
        or check the development so far
    </p>
<div class="card-container">
    @for (int i = 0; i < Model.myArrayOfPages.Length/4; i++)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Model.myArrayOfPages[i,0]</h5>
                <p class="card-text">@Model.myArrayOfPages[i,1]</p>
                <a href="@Model.myArrayOfPages[i,2]" class="card-link" target="_blank">@Model.myArrayOfPages[i,3]</a>
            </div>
        </div>
    }

</div>
